html {
    scroll-behavior: smooth;
  }

body{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    /* padding-bottom: 20%; */
}

code{
    background-color: #f8f8f8;
    padding:1em;
    font-size: 1.4em;
    color: #008080;
    border:2px solid black;
    overflow: hidden;
    transition:font-size 0.4s;
    
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    background-color: #008080;
    padding:1.2em;
    top:0;
}

.nav a{
    color:white;
    margin-left: 6%;
    text-decoration: none;
    font-size: calc(0.4em + 1vmin);
    /* position: static; */
}

.nav a:hover{
    border-bottom: 3px solid white;
}

/* code:hover{
    font-size: 2.0em;
    border:2px solid blue;
} */

/* pre{
    transition:font-size 0.4s;
}

pre:hover{
    font-size: 1.5em;
    border:2px solid blue;
} */

#list{
    margin-top: 50px;
    font-size: 1.5em;
}

ul{
    /* font-size: 1.5em; */
}

h2{
    font-size: 2em;
    margin-bottom: 50px;
    border-bottom: 5px solid black;
}

button{
    font-size: 1.2em;
}

.header{
    margin-top: 10%;
    font-size: 2.5em;
}

.basics > p{
    margin-bottom: 25px;
    font-size: 1.4em;
}

.basics > pre{
    margin-bottom: 5%;
}

.basics code{
    display: block;
}

.basic-css{
    margin-top: 10%;
    /* font-ssize:2em; */

}

.list-block{
    margin-top: 10%;
    font-size: 2em;

}

.test{
    margin-top: 5%;
    font-size: 2em;
}

.border-test{
    border: solid black;
    display: inline-block;
    width: 30%;
    position: absolute;
    margin-top: 1%;
    
}

.thickness-control{
    margin-top: 100px;
}

.thickness-control > p{
    /* margin-top: 1%; */
    display: inline-block;
    font-size: 1.5em;
    /* position: relative; */
    
}

.mp-buttons{
    margin-top: 10px;
}

.slider{
    /* display: block; */
    margin-top: 1%;
    /* display: inline-block */
    /* float:left; */
}

.mp-section{
    margin-bottom: 5%;
    
}

.margin-padding{
    margin-top: 5%;
    font-size: 2em;
}

#mp-test{
    border: 2px solid black;
}

.margin-style{
    display: inline-block;
}

.padding-style{
    display: inline-block;
}

.copy-button{
    /* display: inline-block; */
    margin-left: 2%;
    /* height: 20%; */
}

.box-model{
    border: 2px solid black;
    margin-top: 40px;
    width: 50%;
}

#mp-code{
    margin-bottom: 5%;
}

#text-align-para{
    width: 100%;
    margin-top: 45px;
    font-size: 1.5em;
}

.text-align-heading{
    font-size: 2em;
}

#text-align-code{
    margin-bottom: 200px;
}

#tc-code{
    margin-bottom: 10%;
}

.color-instructions{
    font-size: 1.5em;
}

#color-tester{
    font-size: 1.5em;
    padding: 1em;
    margin-top: 35px;
    border: 1px solid black;
}

#color-box{
    font-size: 1.2em;
}

#BG-color-box{
    font-size: 1.2em;
}

.text-color-section input{
    float: right;
}

.color-controls{
    max-width: 40%;
}

.colorbtn{
    margin-left: 2%;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.links{
    margin-top: 40px;
    
}

.links a{
    /* display: inline; */
    margin-right: 5%;
    font-size: 1.5em;
    display:block;
    width:fit-content;
    text-decoration: none;
    /* text-decoration: none; */
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height:50%;
    margin:0;
    margin-top: 15%;
    padding-top:0.1%;
    padding-bottom: 0.1em;
    /* height: 5%; */
    background-color:#008080;
    color: white;
    text-align: center;
    font-size: 1em;
    
}

#footer-link{
    color:white;
}

#footer-link:hover{
    color:black;
}

.hyperlink-decor{
    width: 20px;
    height:20px;
    margin-top: 20px;
    margin-right: 50px;
}

.checkbox-text{
    font-size: 1.4em;
    display: inline;
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 80%;
        /* text-align: center; */
    }

    .border-test{
        width: 100%;
        margin-top: 20px;
    }

    .color-controls{
        max-width: 100%;
    }

    .nav a {
        display: block;
        font-size: 1em;
        /* position: relative; */
    }

    .nav{
        position: relative;
    }
  }










